.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(255, 204, 0);
  padding: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}